*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

header{
    padding: 10px 15px;
}

header h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-header{
    font-style: italic; /*Luego checar otra fuente*/
    color: salmon;
}

.pharagraph{
    white-space: pre-line;
}

    /* Tamaño de fuente base para móviles */
    .custom-text {
        font-size: 1rem;
    }

    /* Aumentar el tamaño de la fuente para pantallas medianas (tablets y arriba) */
    @media (min-width: 768px) {
        .custom-text {
            font-size: 1.25rem !important;
        }
    }

    /* Aumentar aún más el tamaño de la fuente para pantallas grandes */
    @media (min-width: 992px) {
        .custom-text {
            font-size: 1.5rem !important;
        }
    }

    /* Pantallas extra grandes */
    @media (min-width: 1200px) {
        .custom-text {
            font-size: 2rem !important;
        }
    }

/*Por terminar*/
#box1{
    display: flex;
}

#box2{
    display: flex;
}