*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

header{
    padding: 10px 15px;
}

header h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#salmon-logo{
    width: 50px;
}

#title-header{
    font-style: italic; /*Luego checar otra fuente*/
    color: salmon;
}

.pharagraph{
    white-space: pre-line;
}

.custom-text {
        font-size: 1rem;
    }

    /*Celular*/
@media (min-width: 768px) {
    .custom-text {
        font-size: 1.25rem !important;
    }
}

@media (min-width: 992px) {
    .custom-text {
        font-size: 1.5rem !important;
    }
}

@media (min-width: 1200px) {
    .custom-text {
        font-size: 2rem !important;
    }
}

@media (min-width: 992px) {
    #salmon-image{
        position: relative;
        right: 55px;
    }
}
/*Por terminar*/
#box1{
    display: flex;
}

#box2{
    display: flex;
}

#section-footer{
    display: flex;
    justify-content: space-between;
    white-space: pre-line;
}

.btn-inverted-primary {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #0d6efd; 
    color: #fff; 
    border: 2px solid #fff; 
}

.btn-inverted-primary:hover {
    transition: 0.2s;
    background-color: #fff; 
    color: #0d6efd; 
    border: 2px solid #0d6efd; 
}