
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.text-gold {
  color: #daa520; 
}

.text-dark {
  color: #474a51;
}


body {
  background-color: #18171c;
  color: #fff; 
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

#title-header {
  font-style: italic;
  color: #e35140;
}

#salmon-logo {
  width: 50px;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-transform: uppercase;
}

header h1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: transparent; 
}


button {
  background-color: #daa520;
  color: #18171c;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  transition: 0.2s;
  background-color: #fff;
  color: #18171c;
}


main .row {
  margin-bottom: 30px;
}

main img {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Carrusel */
#carouselExample .carousel-inner {
  border-radius: 10px;
}

#carouselExample .carousel-control-prev-icon,
#carouselExample .carousel-control-next-icon {
  filter: invert(100%);
}


.card {
  background-color: #1f1e23; 
  border: 1px solid #474a51;
  border-radius: 10px;
  color: #fff;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.card-title {
  color: #daa520;
  font-weight: bold;
}

.card-text {
  color: #e0e0e0; 
}

.card-img-top {
  border-radius: 10px 10px 0 0;
}

/*Footter*/
#section-footer {
  background-color: #474a51;
  color: #fff;
  padding: 20px;
}


#section-footer h5 {
  margin-bottom: 0;
}

#salmon-image {
  max-height: 100px;
}

@media (min-width: 1024px) {
  #salmon-image {
    position: relative;
    right: 12rem;
  }
}

/* Modal */
.modal-content {
  background-color: #1f1e23;
  color: #fff;
}

.modal-header {
  border-bottom: 1px solid #474a51;
}

.modal-body {
  color: #daa520;
}

.contact-btn {
  background-color: #daa520;
  color: #18171c;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.contact-btn:hover {
  transition: 0.2s;
  background-color: #fff;
  color: #18171c;
}


