/*Estilos main page*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #18171c;
}

header {
  padding: 10px 15px;
}

header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Por terminar*/
#navBarMain{
  background-color: #474a51;
}

p{
  color: #fff;
}

#salmon-logo {
  width: 50px;
}

#title-header {
  font-style: italic; /*Luego checar otra fuente*/
  color: #e35140;
}

.text-gold {
  color: #daa520; /* Código de color dorado */
}

.pharagraph {
  white-space: pre-line;
}

.custom-text {
  font-size: 1rem;
}

/*Celular*/
@media (min-width: 768px) {
  .custom-text {
    font-size: 1.25rem !important;
  }
}

@media (min-width: 992px) {
  .custom-text {
    font-size: 1.5rem !important;
  }
}

@media (min-width: 1200px) {
  .custom-text {
    font-size: 2rem !important;
  }
}

@media (min-width: 992px) {
  #salmon-image {
    position: relative;
    right: 55px;
  }
}

#section-footer {
  display: flex;
  justify-content: space-between;
  white-space: pre-line;
}

/*Boton cambiar mi vida*/
.btn-inverted-primary {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #daa520;
  color: black;
  border: 2px solid black;
}

.btn-inverted-primary:hover {
  transition: 0.2s;
  background-color: #fff;
  color: #18171c;
  border: 2px solid #18171c;
}

dialog {
  padding: auto;
  margin: auto;
  border: none;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

#close-modal {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  font-weight: bold;
}

#headerPop {
  display: flex;
  justify-content: space-around;
}

#mainPop {
  display: grid;
  place-items: center;
  height: 8vh;
  margin: 0;
}

#iconEma {
  font-size: 15px;
  padding-right: 10px;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.navbarContainer {
  position: sticky;
  top: 0;
  z-index: 999;
}

.contact-btn,
.social-btn {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  font-size: 20px;
  border: 2px solid black;
  color: black;
  border-radius: 50%;
  display: grid;
  place-items: center;
  text-decoration: none;
  transition: 300ms ease-in-out;
}

.social-btn {
  border: 2px solid white;
  color: white;
}

.contact-btn:hover {
  color: white;
  background-color: black;
}

.social-btn:hover {
  color: black;
  background-color: white;
}
