* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}

.masterContainer,
.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.text-gold {
  color: #daa520;
}

.text-dark {
  color: #474a51;
}

body {
  background-color: #18171c;
  color: #fff;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}

#title-header {
  font-style: italic;
  color: #e35140;
  margin: 0;
}

#salmon-logo {
  width: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 !important;
}

header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: transparent;
}

.navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem 0;
}

.navbarButton,
.goldenButton {
  color: #fff !important;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 0.5rem 1rem;
  white-space: nowrap !important;
  cursor: pointer;
  transition: 200ms ease-in-out !important;
}

.goldenButton {
  background-color: #b68710;
}

.navbarButton:hover {
  background-color: #fff;
  color: #18171c !important;
}

.goldenButton:hover {
  background-color: #77590c;
}

@media (max-width: 590px) {
  .navContainer {
    flex-direction: column;
  }

  .nav-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbarButton,
  .goldenButton {
    width: 80%;
  }
}

main .row {
  margin-bottom: 30px;
}

main img {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Carrusel */
#carouselExample .carousel-inner {
  border-radius: 10px;
}

#carouselExample .carousel-control-prev-icon,
#carouselExample .carousel-control-next-icon {
  filter: invert(100%);
}

.card {
  background-color: #1f1e23;
  border: 1px solid #474a51;
  border-radius: 10px;
  color: #fff;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.card-title {
  color: #daa520;
  font-weight: bold;
}

.card-text {
  color: #e0e0e0;
}

.card-img-top {
  border-radius: 10px 10px 0 0;
}

/*Footter*/
#section-footer {
  background-color: #474a51;
  color: #fff;
  padding: 20px;
}

#section-footer h5 {
  margin-bottom: 0;
}

#salmon-image {
  margin: 0 2rem;
  max-height: 100px;
}

footer h5 {
  font-size: clamp(16px, 2vw, 32px);
}

footer h5:first-child {
  text-align: start;
}

footer h5:last-child {
  text-align: end;
}

@media (max-width: 767px) {
  .footer-direction {
    flex-direction: column;
    gap: 1.5rem;
  }

  footer h5 {
    text-align: center !important;
  }
}

/* Modal */
.modal-content {
  background-color: #1f1e23;
  color: #fff;
}

.modal-header {
  border-bottom: 1px solid #474a51;
}

.modal-body {
  color: #daa520;
}

.contact-btn {
  background-color: #daa520;
  color: #18171c;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.contact-btn:hover {
  transition: 0.2s;
  background-color: #fff;
  color: #18171c;
}
